############
## Windows
############

# Windows image file caches
Thumbs.db
ignore/

# Folder config file
Desktop.in

###########
## Mac BS
###########
.DS_Store


#################
## Backup Files
#################

*.bak


##################
## Obsolete Code
##################

php-scripts/ignore/
