############
## Windows
############

# Windows image file caches
Thumbs.db
ignore/

# Folder config file
Desktop.ini



#################
## Backup Files
#################

*.bak


##################
## Obsolete Code
##################

php-scripts/ignore/
